<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjy.mapper.ProvinceMapper">
    <!--  开启二级缓存  -->
    <!--    mapper 使用缓存的方式是使用”<cache-ref>“标签引用dao的命名空间，因为dao中已经开启缓存，-->
    <!--    这样与dao中的缓存保持一直，如果mapper文件不引用缓存，-->
    <!--    执行update方法时，不会清除dao的缓存，导致数据库数据与缓存数据不一致。-->
    <!--    如果直接使用”<cache>“标签开启缓存，会与dao中的冲突，服务启动失败。-->
    <cache-ref namespace="com.pjy.mapper.ProvinceMapper"/>
    <resultMap id="BaseResultMap" type="com.pjy.model.entity.Province">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="attractionsCount" column="attractions_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,tags,
        attractions_count
    </sql>
</mapper>
